Source: galliumos-device-c710
Section: admin
Priority: required
Maintainer: Hugh Greenberg <hugh@galliumos.org>
XSBC-Original-Maintainer: Hugh Greenberg <hugh@galliumos.org>
Standards-Version: 3.9.1

Package: galliumos-device-c710
Architecture: any
Priority: required
Depends: galliumos-base, xf86-input-cmt, nicedaemon, compton
Replaces: galliumos-haswell, gallimos-broadwell
Multi-Arch: foreign
Description: Gallium OS system files for the Acer C710 ChromeOS device
 This package contains specific Acer C710 files for GalliumOS
