#!/usr/bin/make -f

package = galliumos-sandy
build:
	touch build

clean:
	rm -f build
	rm -f `find . -name "*~"`
	rm -rf debian/tmp 

binary-arch: build
	rm -rf debian/tmp
	install -d debian/tmp/DEBIAN
	install -d debian/tmp/etc/modprobe.d
	install -d debian/tmp/lib/systemd/system-sleep
	install -p -m 644 etc/modprobe.d/* debian/tmp/etc/modprobe.d
	install -p -m 755 lib/systemd/system-sleep/* debian/tmp/lib/systemd/system-sleep
	dpkg-gencontrol -pgalliumos-sandy
	dpkg-deb --build -Zgzip debian/tmp ..

binary: binary-arch

.PHONY: binary binary-arch clean
